.strike {
  text-decoration: line-through;
}

.bg-note-dark {
    background-color:yellow ;
  }

.bg-note-light {
  background-color: white;
}

.grab {
  cursor: pointer;
}

.plain:focus {
  outline: none;
}
